# Backend API URL
REACT_APP_BACKEND_URL=https://shopify-chat-nine.vercel.app

# CometChat Configuration
REACT_APP_COMETCHAT_APP_ID=166887275a6cd5288
REACT_APP_COMETCHAT_REGION=eu
REACT_APP_COMETCHAT_AUTH_KEY=b2507b1b96528119abd972fd76c86ac0238bb864
